@-ms-viewport {
	width: device-width;
}

html {
	box-sizing: border-box;
	-ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Medium.eot');
	src: url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy-Medium.woff') format('woff'),
	url('../fonts/Gilroy-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-SemiBold.eot');
	src: url('../fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy-SemiBold.woff') format('woff'),
	url('../fonts/Gilroy-SemiBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Bold.eot');
	src: url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy-Bold.woff') format('woff'),
	url('../fonts/Gilroy-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-ExtraBold.eot');
	src: url('../fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy-ExtraBold.woff') format('woff'),
	url('../fonts/Gilroy-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Black.eot');
	src: url('../fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy-Black.woff') format('woff'),
	url('../fonts/Gilroy-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: Oswald;
	src: url(../fonts/Oswald-ExtraLight.ttf) format('truetype');
	font-weight: 300;
	font-style: normal
}

@font-face {
	font-family: Oswald;
	src: url(../fonts/Oswald-Light.ttf) format('truetype');
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: Oswald;
	src: url(../fonts/Oswald-Regular.ttf) format('truetype');
	font-weight: 500;
	font-style: normal
}

@font-face {
	font-family: Oswald;
	src: url(../fonts/Oswald-Medium.ttf) format('truetype');
	font-weight: 600;
	font-style: normal
}

@font-face {
	font-family: Oswald;
	src: url(../fonts/Oswald-SemiBold.ttf) format('truetype');
	font-weight: 700;
	font-style: normal
}

@font-face {
	font-family: Oswald;
	src: url(../fonts/Oswald-Bold.ttf) format('truetype');
	font-weight: 800;
	font-style: normal
}

@font-face {
	font-family: Ubuntu;
	src: url(../fonts/Ubuntu-L.ttf) format('truetype');
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: Ubuntu;
	src: url(../fonts/Ubuntu-LI.ttf) format('truetype');
	font-weight: 400;
	font-style: italic
}

@font-face {
	font-family: Ubuntu;
	src: url(../fonts/Ubuntu-R.ttf) format('truetype');
	font-weight: 500;
	font-style: normal
}

@font-face {
	font-family: Ubuntu;
	src: url(../fonts/Ubuntu-RI.ttf) format('truetype');
	font-weight: 500;
	font-style: italic
}

@font-face {
	font-family: Ubuntu;
	src: url(../fonts/Ubuntu-M.ttf) format('truetype');
	font-weight: 600;
	font-style: normal
}

@font-face {
	font-family: Ubuntu;
	src: url(../fonts/Ubuntu-MI.ttf) format('truetype');
	font-weight: 600;
	font-style: italic
}

@font-face {
	font-family: Ubuntu;
	src: url(../fonts/Ubuntu-B.ttf) format('truetype');
	font-weight: 700;
	font-style: normal
}

@font-face {
	font-family: Ubuntu;
	src: url(../fonts/Ubuntu-BI.ttf) format('truetype');
	font-weight: 700;
	font-style: italic
}

@font-face {
	font-family: 'Ubuntu Mono';
	src: url(../fonts/UbuntuMono-B.ttf) format('truetype');
	font-weight: 600;
	font-style: normal
}

@font-face {
	font-family: 'Ubuntu Mono';
	src: url(../fonts/UbuntuMono-BI.ttf) format('truetype');
	font-weight: 600;
	font-style: italic
}

@font-face {
	font-family: 'Ubuntu Mono';
	src: url(../fonts/UbuntuMono-R.ttf) format('truetype');
	font-weight: 500;
	font-style: normal
}

@font-face {
	font-family: 'Ubuntu Mono';
	src: url(../fonts/UbuntuMono-RI.ttf) format('truetype');
	font-weight: 500;
	font-style: italic
}

body {
	font-family: 'Gilroy';
	font-weight: 500;
	font-size: 16px;
	color: #fff;
	background: linear-gradient(91.19deg, #1C1A37 0.82%, #0A0824 106.61%);
}
.panel {
	padding-top: 50px;
	padding-bottom: 50px;
	max-width: 600px;
	margin: 0 auto;
	display: block;
	float: none;
	background: #151230;
	box-shadow: 0px 0px 70px rgba(9, 6, 39, 0.8);
	border-radius: 20px;
}
.panel .form {
	float: none;
}
.formItem {
	margin-bottom: 30px;
	float: none;
	position: relative;
}
.formItem__icon {
	height: 53px;
	width: 60px;
	top: 33px;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	z-index: 2;
}
.formItem__icon img {
	max-width: 17px;
	max-height: 17px;
}
.panel .title {
	font-size: 36px;
	line-height: 41px;
	padding-bottom: 10px;
	font-weight: 700;
	color: #fff;
}


.panelFooter a.transparent,
.links .panelBody a,
.btn-transparent,
button,
.formItem button {
	font-size: 18px;
	font-weight: 800;
	height: 58px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	float: none;
	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-family: 'Gilroy';
	background: linear-gradient(91.82deg, #0EADB9 -0.28%, #8A04E0 50.49%, #FF30FB 110.49%);
	border-radius: 10px;
	color: #fff;
	text-decoration: none;
	position: relative;
	z-index: 1;
}

.panelFooter a.transparent::after,
.links .panelBody a::after,
button::after,
.formItem button::after {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 10px;
	background: linear-gradient(91.82deg, #FF30FB -0.28%, #8A04E0 50.49%, #0EADB9 110.49%);
	opacity: 0;
	z-index: -1;
	transition: all 0.3s;
}
.panelFooter a.transparent:hover::after,
.links .panelBody a:hover::after,
button:hover::after,
.formItem button:hover::after {
	opacity: 1;
}
.selectBox .select input:not(:checked)~.placeholder::before,
.selectBox .items label::before,
.dashPanel .panelFooter .transparent::before,
.dashPanel .panelBody table tr td.actionsCol button::before,
.btn-transparent::before {
	position: absolute;
	display: block;
	content: " ";
	top: 2px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	background: #151230;
	z-index: -1;
	transition: all 0.3s;
	border-radius: 10px;
}
.dashPanel .panelFooter .transparent:hover::before,
.dashPanel .panelBody table tr td.actionsCol button:hover::before,
.btn-transparent:hover::before {
	opacity: 0;
}
.selectBox .items {
	border: none !important;
}
.formItem input {
	height: 53px;
	padding-left: 62px;
	padding-right: 15px;
	color: #fff;
	background: #22214B;
	border: 1px solid #3A387C;
	border-radius: 10px;
	transition: all 0.3s;
	width: 100%;
}
.formItem input:focus,
.formItem input:hover {
	background: #2A295A;
	border-color: #4A47A8;
	box-shadow: 0px 0px 8px #4B489F;
}
.wrapper {
	max-width: 1128px;
}
.buttons-form {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.buttons-form button,
.buttons-form .btn-transparent {
	flex: 1;
}
.buttons-form button {
	margin-right: 30px;
}
.formItem label {
	font-size: 16px;
	line-height: 18px;
	color: #BCBAD2;
	padding-bottom: 12px;
}
.formItem .fright {
	padding-top: 10px;
	display: block;
	float: none;
	text-align: right;
}
.dashPanel .panelBody table.info a,
.refLink,
.link-main,
.panelFooter a.transparent span,
.dashPanel .panelFooter .transparent span,
.formItem .getStarted,
input[type=checkbox]+label a,
.fright a {
	padding: 0;
	min-width: 0;
	height: auto;
	position: relative;
	background: linear-gradient(to right, rgba(14, 173, 185, 1), rgba(138, 4, 224, 1),rgba(255, 48, 251, 1));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.dashPanel .panelBody table.info a::after,
.refLink::after,
.link-main::after,
.formItem .getStarted::after,
input[type=checkbox]+label a::after,
.fright a::after {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
	background: linear-gradient(to right, rgba(14, 173, 185, 1), rgba(138, 4, 224, 1),rgba(255, 48, 251, 1));
}

.panelFooter a.transparent:hover span,
.dashPanel .panelFooter .transparent:hover span {
	background:none;
	color: #fff;
	-webkit-background-clip: initial;
	-webkit-text-fill-color: initial;
}
.logo__descr {
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
	font-family: Oswald;
	margin-left: 17px;
	max-width: 84px;
	color: #FFFFFF;
}
.header .logo {
	margin-top: 0;
	display: inline-flex;
	align-items: center;
	text-decoration: none;
}
.header .logo img {
	width: 74px;
	height: 44px;
}
.mvc-grid-pager button,
.link-laguage {
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	width: 39px;
	height: 39px;
	border-radius: 50%;
	background: #23214B !important;
	padding: 0;
	border: 1px solid #3A387C;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: all 0.3s;
}
.mvc-grid-pager button:hover,
.link-laguage:hover {
	border-color: #4A47A8;
	box-shadow: 0px 0px 8px #4B489F;
}
.header__wrap {
	padding-top: 40px;
	padding-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.header {
	height: auto;
}
.copyright {
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	padding-bottom: 20px;
	margin-top: auto;
	text-align: center;
	background: linear-gradient(to right, rgba(149, 144, 222, 1), rgba(152, 147, 238, 0.09));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.wrapper_panel {
	min-height: calc(100vh - 160px);
	display: flex;
	flex-direction: column;
}
.wrapper_panel .panel {
	margin-top: auto;
	margin-bottom: 40px;
}
input[type=checkbox]+label {
	font-size: 14px;
	line-height: 18px;
	color: #fff;
	font-weight: normal;
	max-width:295px;
}
input[type=checkbox]+label:before {
	top: 6px;
	background-color: #22214B;
	border: 1px solid #6764BD;
	width: 25px;
	height: 25px;
	border-radius: 4px;
}
.d_flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.formItem.d_flex .fright {
	padding-top: 0;
}
.formItem.d_flex {
	margin-bottom: 0;
	padding-top: 30px;
}
.formItem.d_flex p {
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	color: #9691DD;
}
.formItem .getStarted {
	margin-top: 35px;
}
.formItem.center {
	margin-bottom: 0;
}
.dashboard .wrapper {
	max-width: 1128px;
}
.header .userSide .name .logOut,
.logOut {
	width: 39px;
	height: 39px;
	margin-left: 20px;
	border-radius: 50%;
	display: inline-block;
	background: linear-gradient(133.25deg, #00F1FF -25.33%, #8A04E0 60.08%, #FF30FB 127.93%);
}
.header .userSide .name .logOut::before,
.logOut::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: url(../img/ic_logout.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.half.right {
	float: none;
	width: auto;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.header .userSide .name {
	margin-top: 0;
	text-align: left;
	font-weight: 600;
	font-size: 18px;
	line-height: 21px;
}
.right .userSide {
	margin-right: 50px;
}
.email-user {
	padding-top: 5px;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: #C3C0E9;
}
.dashPanel {
	background: #151230;
	box-shadow: 0px 0px 20px #090627;
	border-radius: 20px;
}
.dashPanel .panelBody table tr td {
	font-size: 16px;
	color: #fff;
}
.dashPanel .panelBody table tr:last-child td {
	border-bottom: 1px #fff solid;
}
.dashPanel .panelHeader {
	padding: 0;
	padding-top: 35px;
	padding-left: 30px;
	background-color: transparent;
	height: auto;
}
.dashPanel .panelHeader .panelTitle {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.dashPanel .panelBody table thead tr th {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	border-bottom: 1px #342E69 solid;
	text-align: center;
	color: #9290B0;
}
.dashPanel .panelBody table tr td:last-child {
	text-align: center;
}
.dashPanel .panelBody table tr td.actionsCol button {
	height: 38px;
	color: #fff;
	min-width: 128px;
	font-size: 16px;
	border-radius: 50px;
}
.dashPanel .panelBody table tr td.actionsCol button::before,
.dashPanel .panelBody table tr td.actionsCol button::after {
	border-radius: 50px;
}
button.transparent {
	color: #fff;
}
.dashPanel.small:first-child {
	width: 56.7%;
}
.dashPanel.small {
	width: 40.4%;
	margin-left: 30px;
}
.links .panelBody a {
	width: 100%;
	text-transform: none;
	font-weight: 500;
}
.links .panelBody a span {
	font-weight: 800;
}
.dashPanel .panelHeader .panelTitle .fright {
	float: none;
	position: relative;
	right: 0;
	bottom: 0;
	text-align: left;
}
.dashPanel .panelHeader .panelTitle .items {
	text-align: left;
}
.dashPanel .panelHeader .panelTitle {
	margin-right: 0;
}
.status,
.status-info {
	width: 91px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: linear-gradient(109.95deg, #67DE73 4.55%, #5EC769 95.15%);
	border-radius: 20px;
	font-size: 14px;
	letter-spacing: 0.02em;
	font-weight: 700;
	color: #FFFFFF;
	margin: 0 auto;
}
.status-info_deactive {
	background: linear-gradient(109.95deg, #DE6775 4.55%, #C75E5E 95.15%);
}
.dashPanel .panelBody:after {
	display: none;
}
.mvc-grid-empty-row td {
	border: none !important;
}
.dashPanel.small.links .panelFooter,
.social-dashborad {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
a[title="Video Manuals"],
a[title="Telegram"],
.social-dashborad a {
	height: 48px; 
	background: #201C48;
	border: 1px solid #3E387A;
	border-radius: 10px;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	text-align: center;
	display: flex;
	font-weight: 600;
	font-size: 16px;
	padding-left: 59px;
	padding-right: 33px;
	color: #C1BCF5;
	background-repeat: no-repeat;
	background-position: 25px center;
	transition: all 0.3s;
}
a[title="Telegram"] {
	background-image: url(../img/ic_tg.svg);
}
a[title="Video Manuals"] {
	background-image: url(../img/ic_vd.svg);
}
a[title="Video Manuals"]:hover,
a[title="Telegram"]:hover {
	    border-color: #4A47A8;
    box-shadow: 0px 0px 8px #4B489F;
}
.dashPanel.small .panelFooter a.transparent {
	padding-left: 45px;	
	margin-right: 30px;
	padding-right: 45px;
	min-width: 200px;
}
.dashPanel.small .panelFooter a.transparent:last-child {
	margin-right: 0;
}
.dashPanel .panelBody table tr td label {
	font-weight: 500;
	font-size: 16px;
	color: #9290B0;
}
.dashPanel_bottom .panelHeader  .panelTitle .items,
.dashPanel_bottom .panelHeader  .panelTitle {
	display: flex;
	align-items: center;
}
.panelHeader .panelTitle .items,
.dashPanel_bottom .panelHeader  .panelTitle .items {
	font-weight: 600;
	font-size: 14px;
	margin-left: 15px;
	margin-top: 5px;
	letter-spacing: 0.03em;
	font-size: 14px;
	color: #9691DD !important;
}

.dashPanel .panelHeader .panelTitle .items .num {
	font-size: 14px;
}
.dashPanel.small .panelHeader {
	padding: 35px 35px;
	padding-bottom: 0;


}
.dashPanel.small .panelHeader .panelTitle {
	padding: 0;
	padding-bottom: 17px;
	border-bottom: 1px #342e69 solid;
}
.dashPanel.small.links .panelFooter {
	padding-top: 0;
}
.dashPanel.small.links .panelBody {
	padding-bottom: 10px;
}
.dashPanel .panelFooter,
.dashPanel .panelBody {
	padding-left: 35px;
	padding-right: 35px;
}

.dashPanel .panelFooter {
	padding-bottom: 35px;
}
.dashPanel.small.links .panelBody {
	padding-top: 30px;
}
.dashPanel.small:first-of-type .panelFooter{
	padding-top: 25px;
	margin-top: 5px;
	border-top: 1px solid #342E69;
}
.dashPanel.small:first-of-type  .panelFooter {
	margin-left: 30px;
	padding-left: 0;
	max-width: 89%;
	max-width: calc(100% - 65px)
}
.dashPanel .panelFooter .transparent::before {
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px;
}

.mvc-grid-pager {
	margin-top: 30px;
}
.mvc-grid-pager button {
	margin: 0 5px;
}
.header {
	padding-top: 40px;
}
.header__wrap {
	padding-top: 0;
}
.dashPanel .panelHeader .panelTitle {
	display: flex;
	align-items: center;
}
.dashPanel .panelHeader .panelTitle .items {
	display: flex;
	align-items: center;
}
.right .userSide {
	margin-right: 0;
}
.separ {
	display: none;
}
.transparent.fright.green[content=" "] {
	display: none !important;
}
.selectBox .items label {
	z-index: 2;
}
.selectBox .select input:not(:checked)~.placeholder::before,
.selectBox .items label::before {
	border-radius: 4px;
}
.selectBox .select input:not(:checked)~.placeholder {
	z-index: 2;
}
.selectBox .select input:not(:checked)~.placeholder,
.selectBox .items label {
	color: #fff !important;
	background: linear-gradient(91.82deg, #0EADB9 -0.28%, #8A04E0 50.49%, #FF30FB 110.49%);
}
.selectBox .select input:not(:checked)~.placeholder {
	opacity: 1;
}
.selectBox .select input:checked~.placeholder {
	opacity: 0;
}
.selectBox .items label:hover {
	background: linear-gradient(91.82deg, #0EADB9 -0.28%, #8A04E0 50.49%, #FF30FB 110.49%);
}
.selectBox .items label:hover::before {
	opacity: 0;
}
.dashPanel .panelFooter .total b,
.dashPanel .panelFooter .total {
	color: #fff;
}
.selectBox .selectInput:disabled~.items {
	border: none !important;
}
.dashPanel .panelBody table tr td input[type=checkbox]:checked+label {
	color: #fff;
}

button[onclick="document.getElementById('ALLINONE_PACKAGE_plolongate_addon').click()"]::after {
opacity: 1;
}
.link-laguage {
	margin-left: 45px;
}
.panelFooter a {
	text-decoration: none !important;
}
.dashPanel_referal .panelFooter {
	padding-top: 0 !important;
	border: none !important;
}
.mvc-grid-pager button::after {
	display: none;
}